.container{
    max-width: map-get($breakpoint , 'lg' );
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @include phone{
        max-width: map-get($breakpoint , 'sm' );
    }
}