body{
    background: url(../images/ball01.svg) no-repeat -222px calc(769px - 180px), 
    url(../images/ball02.svg) no-repeat calc(100vw - 210px) 1694px,
    url(../images/bg_home.svg) no-repeat right top;
    background-size: 360px 360px, 310px 310px, 851.5px 768px;
}
.bannerImg{
    width: 532px;
    height: 534px;
}
.cardImg{
    width: 100%;
    height: 260px;
    border-radius: 12px 12px 0 0;
}
.platformImg{
    width: 90px;
    height: 90px;
}
.scrolltop{
    display: inline-block;
    position: fixed;
    z-index: 99;
    bottom: 23px;
    right: 48px;
    width: 71px;
    height: 71px;
    font-family: $font-third, serif;
    font-size: 18px;
    line-height: 19px;
    padding: 26px 17px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.nav{
    margin-bottom: 30px;
}
.heroBanner{
    margin-bottom: 217px;
}
.platform{
    margin-bottom: $section-margin;
}
.platformInfo{
    width: 33.33333%;
}

.situation{
    margin-bottom: $section-margin;
}

.underline{
    &::after{
        content: "";
        display: block;
        margin-top: 1.5rem;
        background: #dddddd;
        width: 100%;
        height: 1px;
        text-decoration: underline;
    }
}

.praise{
    margin-bottom: $section-margin;
    &-img{
        top: -50px;
        img{
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }
    }
}

.pages{
    margin: 0 auto;
    &-dot{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background: #DDDDDD;
        cursor: pointer;
        &:not(:last-of-type){
            margin-right: 0.5rem;
        }
    }
    .active{
        width: 16px;
        background: #FFD153;
    }
}

.footerBanner{
    position: relative;
    background: url(../images/home_footer.svg) no-repeat top / cover;
    padding-top: 260px;
    padding-bottom: 100px;
}
.copyright{
    background: #F5F5F5;
}