body{
    background: url(../images/ball01.svg) no-repeat -222px calc(100vh - 180px), 
    url(../images/ball02.svg) no-repeat calc(100vw - 100px);
    background-size: 360px 360px, 310px 310px;
}
.bannerImg{
    width: 532px;
    height: 534px;
}