.logo{
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
    & a{
        display: block;
        width: 218px;
        height: 40px;
        background: url(../images/logo.png) no-repeat;
        background-size: cover;
    }
}

.btn{
    display: block;
    background: $btn-color;
    border-radius: 50rem;
}