$font-primary: "Noto Sans TC";
$font-secondary: "Comfortaa";
$font-third: "Wendy One";
$container: 1088px;
$columns:   12;

$color: (
  "primary":    #56C4C5,
  "secondary":  #221E1F,
  "info-color": #221E1F,
  "navbtn":     #FF5D50,
  "platform-p": #747474,
  "white":      #fff,
  "black":      #000,
);

$breakpoint: (
  "lg": $container + 32px,
  "md": 768px,
  "sm": 376px,
);
$lineheight: (
  "banner": 70px,
  "banner-p": 29px,
  "title": 46px,
);

$direction: (
  "t": top,
  "r": right,
  "b": bottom,
  "l": left
);